/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

// CONFIG
#define COMBO_TIMEOUT 200
#define COMBO_LAYERS 0
#define STICKY_TIMEOUT 500

// LEFT SIDE
#define TLP 0 // TOP
#define TLR 1 // TOP
#define TLM 2 // TOP
#define TLI 3 // TOP
#define BLP 8 // BOTTOM
#define BLR 9 // BOTTOM
#define BLM 10 // BOTTOM
#define BLI 11 // BOTTOM
#define LOT 16 // O-THUMB
#define LIT 17 // I-THUMB

// RIGHT SIDE
#define TRP 7 // TOP
#define TRR 6 // TOP
#define TRM 5 // TOP
#define TRI 4 // TOP
#define BRP 15 // BOTTOM
#define BRR 14 // BOTTOM
#define BRM 13 // BOTTOM
#define BRI 12 // BOTTOM
#define ROT 19 // O-THUMB
#define RIT 18 // I-THUMB

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
  combos {
    compatible = "zmk,combos";

    combo_l_space { \
      timeout-ms = <COMBO_TIMEOUT>; \
      bindings = <&kp SPACE>; \
      key-positions = <LIT>; \
      layers = <COMBO_LAYERS>; \
    };

    combo_r_space { \
      timeout-ms = <COMBO_TIMEOUT>; \
      bindings = <&kp SPACE>; \
      key-positions = <RIT>; \
      layers = <COMBO_LAYERS>; \
    };

    combo_l_bspc { \
      timeout-ms = <COMBO_TIMEOUT>; \
      bindings = <&kp BSPC>; \
      key-positions = <LOT>; \
      layers = <COMBO_LAYERS>; \
    };

    combo_r_bspc { \
      timeout-ms = <COMBO_TIMEOUT>; \
      bindings = <&kp BSPC>; \
      key-positions = <ROT>; \
      layers = <COMBO_LAYERS>; \
    };

    combo_l_B { \
      timeout-ms = <200>; \
      bindings = <&kp B>; \
      key-positions = <TLP>; \
      layers = <0>; \
    }; \
    combo_li_B { \
      timeout-ms = <200>; \
      bindings = <&kp LS(B)>; \
      key-positions = <TLP LIT>; \
      layers = <0>; \
    }; \
    combo_lo_B { \
      timeout-ms = <200>; \
      bindings = <&kp LEFT>; \
      key-positions = <TLP LOT>; \
      layers = <0>; \
    }; \
    combo_lb_B { \
      timeout-ms = <200>; \
      bindings = <&kp LS(LEFT)>; \
      key-positions = <TLP LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_B { \
      timeout-ms = <200>; \
      bindings = <&kp B>; \
      key-positions = <TRP>; \
      layers = <0>; \
    }; \
    combo_ri_B { \
      timeout-ms = <200>; \
      bindings = <&kp LS(B)>; \
      key-positions = <TRP RIT>; \
      layers = <0>; \
    }; \
    combo_ro_B { \
      timeout-ms = <200>; \
      bindings = <&kp LEFT>; \
      key-positions = <TRP ROT>; \
      layers = <0>; \
    }; \
    combo_rb_B { \
      timeout-ms = <200>; \
      bindings = <&kp LS(LEFT)>; \
      key-positions = <TRP RIT ROT>; \
      layers = <0>; \
    };

    combo_l_F { \
      timeout-ms = <200>; \
      bindings = <&kp F>; \
      key-positions = <TLR>; \
      layers = <0>; \
    }; \
    combo_li_F { \
      timeout-ms = <200>; \
      bindings = <&kp LS(F)>; \
      key-positions = <TLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_F { \
      timeout-ms = <200>; \
      bindings = <&kp UP>; \
      key-positions = <TLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_F { \
      timeout-ms = <200>; \
      bindings = <&kp LS(UP)>; \
      key-positions = <TLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_F { \
      timeout-ms = <200>; \
      bindings = <&kp F>; \
      key-positions = <TRR>; \
      layers = <0>; \
    }; \
    combo_ri_F { \
      timeout-ms = <200>; \
      bindings = <&kp LS(F)>; \
      key-positions = <TRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_F { \
      timeout-ms = <200>; \
      bindings = <&kp UP>; \
      key-positions = <TRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_F { \
      timeout-ms = <200>; \
      bindings = <&kp LS(UP)>; \
      key-positions = <TRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_T { \
      timeout-ms = <200>; \
      bindings = <&kp T>; \
      key-positions = <TLM>; \
      layers = <0>; \
    }; \
    combo_li_T { \
      timeout-ms = <200>; \
      bindings = <&kp LS(T)>; \
      key-positions = <TLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_T { \
      timeout-ms = <200>; \
      bindings = <&kp DOWN>; \
      key-positions = <TLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_T { \
      timeout-ms = <200>; \
      bindings = <&kp LS(DOWN)>; \
      key-positions = <TLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_T { \
      timeout-ms = <200>; \
      bindings = <&kp T>; \
      key-positions = <TRM>; \
      layers = <0>; \
    }; \
    combo_ri_T { \
      timeout-ms = <200>; \
      bindings = <&kp LS(T)>; \
      key-positions = <TRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_T { \
      timeout-ms = <200>; \
      bindings = <&kp DOWN>; \
      key-positions = <TRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_T { \
      timeout-ms = <200>; \
      bindings = <&kp LS(DOWN)>; \
      key-positions = <TRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_J { \
      timeout-ms = <200>; \
      bindings = <&kp J>; \
      key-positions = <TLI>; \
      layers = <0>; \
    }; \
    combo_li_J { \
      timeout-ms = <200>; \
      bindings = <&kp LS(J)>; \
      key-positions = <TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_J { \
      timeout-ms = <200>; \
      bindings = <&kp RIGHT>; \
      key-positions = <TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_J { \
      timeout-ms = <200>; \
      bindings = <&kp LS(RIGHT)>; \
      key-positions = <TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_J { \
      timeout-ms = <200>; \
      bindings = <&kp J>; \
      key-positions = <TRI>; \
      layers = <0>; \
    }; \
    combo_ri_J { \
      timeout-ms = <200>; \
      bindings = <&kp LS(J)>; \
      key-positions = <TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_J { \
      timeout-ms = <200>; \
      bindings = <&kp RIGHT>; \
      key-positions = <TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_J { \
      timeout-ms = <200>; \
      bindings = <&kp LS(RIGHT)>; \
      key-positions = <TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_H { \
      timeout-ms = <200>; \
      bindings = <&kp H>; \
      key-positions = <BLP>; \
      layers = <0>; \
    }; \
    combo_li_H { \
      timeout-ms = <200>; \
      bindings = <&kp LS(H)>; \
      key-positions = <BLP LIT>; \
      layers = <0>; \
    }; \
    combo_lo_H { \
      timeout-ms = <200>; \
      bindings = <&sk LGUI>; \
      key-positions = <BLP LOT>; \
      layers = <0>; \
    }; \
    combo_lb_H { \
      timeout-ms = <200>; \
      bindings = <&kp HOME>; \
      key-positions = <BLP LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_H { \
      timeout-ms = <200>; \
      bindings = <&kp H>; \
      key-positions = <BRP>; \
      layers = <0>; \
    }; \
    combo_ri_H { \
      timeout-ms = <200>; \
      bindings = <&kp LS(H)>; \
      key-positions = <BRP RIT>; \
      layers = <0>; \
    }; \
    combo_ro_H { \
      timeout-ms = <200>; \
      bindings = <&sk LGUI>; \
      key-positions = <BRP ROT>; \
      layers = <0>; \
    }; \
    combo_rb_H { \
      timeout-ms = <200>; \
      bindings = <&kp HOME>; \
      key-positions = <BRP RIT ROT>; \
      layers = <0>; \
    };

    combo_l_C { \
      timeout-ms = <200>; \
      bindings = <&kp C>; \
      key-positions = <BLR>; \
      layers = <0>; \
    }; \
    combo_li_C { \
      timeout-ms = <200>; \
      bindings = <&kp LS(C)>; \
      key-positions = <BLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_C { \
      timeout-ms = <200>; \
      bindings = <&sk LALT>; \
      key-positions = <BLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_C { \
      timeout-ms = <200>; \
      bindings = <&kp PG_UP>; \
      key-positions = <BLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_C { \
      timeout-ms = <200>; \
      bindings = <&kp C>; \
      key-positions = <BRR>; \
      layers = <0>; \
    }; \
    combo_ri_C { \
      timeout-ms = <200>; \
      bindings = <&kp LS(C)>; \
      key-positions = <BRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_C { \
      timeout-ms = <200>; \
      bindings = <&sk LALT>; \
      key-positions = <BRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_C { \
      timeout-ms = <200>; \
      bindings = <&kp PG_UP>; \
      key-positions = <BRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_N { \
      timeout-ms = <200>; \
      bindings = <&kp N>; \
      key-positions = <BLM>; \
      layers = <0>; \
    }; \
    combo_li_N { \
      timeout-ms = <200>; \
      bindings = <&kp LS(N)>; \
      key-positions = <BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_N { \
      timeout-ms = <200>; \
      bindings = <&sk LCTRL>; \
      key-positions = <BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_N { \
      timeout-ms = <200>; \
      bindings = <&kp PG_DN>; \
      key-positions = <BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_N { \
      timeout-ms = <200>; \
      bindings = <&kp N>; \
      key-positions = <BRM>; \
      layers = <0>; \
    }; \
    combo_ri_N { \
      timeout-ms = <200>; \
      bindings = <&kp LS(N)>; \
      key-positions = <BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_N { \
      timeout-ms = <200>; \
      bindings = <&sk LCTRL>; \
      key-positions = <BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_N { \
      timeout-ms = <200>; \
      bindings = <&kp PG_DN>; \
      key-positions = <BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_Y { \
      timeout-ms = <200>; \
      bindings = <&kp Y>; \
      key-positions = <BLI>; \
      layers = <0>; \
    }; \
    combo_li_Y { \
      timeout-ms = <200>; \
      bindings = <&kp LS(Y)>; \
      key-positions = <BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_Y { \
      timeout-ms = <200>; \
      bindings = <&sk LSHIFT>; \
      key-positions = <BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_Y { \
      timeout-ms = <200>; \
      bindings = <&kp END>; \
      key-positions = <BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_Y { \
      timeout-ms = <200>; \
      bindings = <&kp Y>; \
      key-positions = <BRI>; \
      layers = <0>; \
    }; \
    combo_ri_Y { \
      timeout-ms = <200>; \
      bindings = <&kp LS(Y)>; \
      key-positions = <BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_Y { \
      timeout-ms = <200>; \
      bindings = <&sk LSHIFT>; \
      key-positions = <BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_Y { \
      timeout-ms = <200>; \
      bindings = <&kp END>; \
      key-positions = <BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_D { \
      timeout-ms = <200>; \
      bindings = <&kp D>; \
      key-positions = <TLP TLI>; \
      layers = <0>; \
    }; \
    combo_li_D { \
      timeout-ms = <200>; \
      bindings = <&kp LS(D)>; \
      key-positions = <TLP TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_D { \
      timeout-ms = <200>; \
      bindings = <&kp N1>; \
      key-positions = <TLP TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_D { \
      timeout-ms = <200>; \
      bindings = <&kp F1>; \
      key-positions = <TLP TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_D { \
      timeout-ms = <200>; \
      bindings = <&kp D>; \
      key-positions = <TRP TRI>; \
      layers = <0>; \
    }; \
    combo_ri_D { \
      timeout-ms = <200>; \
      bindings = <&kp LS(D)>; \
      key-positions = <TRP TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_D { \
      timeout-ms = <200>; \
      bindings = <&kp N1>; \
      key-positions = <TRP TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_D { \
      timeout-ms = <200>; \
      bindings = <&kp F1>; \
      key-positions = <TRP TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_K { \
      timeout-ms = <200>; \
      bindings = <&kp K>; \
      key-positions = <BLP BLI>; \
      layers = <0>; \
    }; \
    combo_li_K { \
      timeout-ms = <200>; \
      bindings = <&kp LS(K)>; \
      key-positions = <BLP BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_K { \
      timeout-ms = <200>; \
      bindings = <&kp N2>; \
      key-positions = <BLP BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_K { \
      timeout-ms = <200>; \
      bindings = <&kp F2>; \
      key-positions = <BLP BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_K { \
      timeout-ms = <200>; \
      bindings = <&kp K>; \
      key-positions = <BRP BRI>; \
      layers = <0>; \
    }; \
    combo_ri_K { \
      timeout-ms = <200>; \
      bindings = <&kp LS(K)>; \
      key-positions = <BRP BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_K { \
      timeout-ms = <200>; \
      bindings = <&kp N2>; \
      key-positions = <BRP BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_K { \
      timeout-ms = <200>; \
      bindings = <&kp F2>; \
      key-positions = <BRP BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_R { \
      timeout-ms = <200>; \
      bindings = <&kp R>; \
      key-positions = <BLP BLR>; \
      layers = <0>; \
    }; \
    combo_li_R { \
      timeout-ms = <200>; \
      bindings = <&kp LS(R)>; \
      key-positions = <BLP BLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_R { \
      timeout-ms = <200>; \
      bindings = <&kp N3>; \
      key-positions = <BLP BLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_R { \
      timeout-ms = <200>; \
      bindings = <&kp F3>; \
      key-positions = <BLP BLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_R { \
      timeout-ms = <200>; \
      bindings = <&kp R>; \
      key-positions = <BRP BRR>; \
      layers = <0>; \
    }; \
    combo_ri_R { \
      timeout-ms = <200>; \
      bindings = <&kp LS(R)>; \
      key-positions = <BRP BRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_R { \
      timeout-ms = <200>; \
      bindings = <&kp N3>; \
      key-positions = <BRP BRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_R { \
      timeout-ms = <200>; \
      bindings = <&kp F3>; \
      key-positions = <BRP BRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_V { \
      timeout-ms = <200>; \
      bindings = <&kp V>; \
      key-positions = <BLM BLI>; \
      layers = <0>; \
    }; \
    combo_li_V { \
      timeout-ms = <200>; \
      bindings = <&kp LS(V)>; \
      key-positions = <BLM BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_V { \
      timeout-ms = <200>; \
      bindings = <&kp N4>; \
      key-positions = <BLM BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_V { \
      timeout-ms = <200>; \
      bindings = <&kp F4>; \
      key-positions = <BLM BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_V { \
      timeout-ms = <200>; \
      bindings = <&kp V>; \
      key-positions = <BRM BRI>; \
      layers = <0>; \
    }; \
    combo_ri_V { \
      timeout-ms = <200>; \
      bindings = <&kp LS(V)>; \
      key-positions = <BRM BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_V { \
      timeout-ms = <200>; \
      bindings = <&kp N4>; \
      key-positions = <BRM BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_V { \
      timeout-ms = <200>; \
      bindings = <&kp F4>; \
      key-positions = <BRM BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_L { \
      timeout-ms = <200>; \
      bindings = <&kp L>; \
      key-positions = <TLP TLR>; \
      layers = <0>; \
    }; \
    combo_li_L { \
      timeout-ms = <200>; \
      bindings = <&kp LS(L)>; \
      key-positions = <TLP TLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_L { \
      timeout-ms = <200>; \
      bindings = <&kp N5>; \
      key-positions = <TLP TLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_L { \
      timeout-ms = <200>; \
      bindings = <&kp F5>; \
      key-positions = <TLP TLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_L { \
      timeout-ms = <200>; \
      bindings = <&kp L>; \
      key-positions = <TRP TRR>; \
      layers = <0>; \
    }; \
    combo_ri_L { \
      timeout-ms = <200>; \
      bindings = <&kp LS(L)>; \
      key-positions = <TRP TRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_L { \
      timeout-ms = <200>; \
      bindings = <&kp N5>; \
      key-positions = <TRP TRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_L { \
      timeout-ms = <200>; \
      bindings = <&kp F5>; \
      key-positions = <TRP TRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_G { \
      timeout-ms = <200>; \
      bindings = <&kp G>; \
      key-positions = <TLM TLI>; \
      layers = <0>; \
    }; \
    combo_li_G { \
      timeout-ms = <200>; \
      bindings = <&kp LS(G)>; \
      key-positions = <TLM TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_G { \
      timeout-ms = <200>; \
      bindings = <&kp N6>; \
      key-positions = <TLM TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_G { \
      timeout-ms = <200>; \
      bindings = <&kp F6>; \
      key-positions = <TLM TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_G { \
      timeout-ms = <200>; \
      bindings = <&kp G>; \
      key-positions = <TRM TRI>; \
      layers = <0>; \
    }; \
    combo_ri_G { \
      timeout-ms = <200>; \
      bindings = <&kp LS(G)>; \
      key-positions = <TRM TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_G { \
      timeout-ms = <200>; \
      bindings = <&kp N6>; \
      key-positions = <TRM TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_G { \
      timeout-ms = <200>; \
      bindings = <&kp F6>; \
      key-positions = <TRM TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_E { \
      timeout-ms = <200>; \
      bindings = <&kp E>; \
      key-positions = <BLR BLM>; \
      layers = <0>; \
    }; \
    combo_li_E { \
      timeout-ms = <200>; \
      bindings = <&kp LS(E)>; \
      key-positions = <BLR BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_E { \
      timeout-ms = <200>; \
      bindings = <&kp N7>; \
      key-positions = <BLR BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_E { \
      timeout-ms = <200>; \
      bindings = <&kp F7>; \
      key-positions = <BLR BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_E { \
      timeout-ms = <200>; \
      bindings = <&kp E>; \
      key-positions = <BRR BRM>; \
      layers = <0>; \
    }; \
    combo_ri_E { \
      timeout-ms = <200>; \
      bindings = <&kp LS(E)>; \
      key-positions = <BRR BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_E { \
      timeout-ms = <200>; \
      bindings = <&kp N7>; \
      key-positions = <BRR BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_E { \
      timeout-ms = <200>; \
      bindings = <&kp F7>; \
      key-positions = <BRR BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_Z { \
      timeout-ms = <200>; \
      bindings = <&kp Z>; \
      key-positions = <TLR TLM>; \
      layers = <0>; \
    }; \
    combo_li_Z { \
      timeout-ms = <200>; \
      bindings = <&kp LS(Z)>; \
      key-positions = <TLR TLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_Z { \
      timeout-ms = <200>; \
      bindings = <&kp N8>; \
      key-positions = <TLR TLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_Z { \
      timeout-ms = <200>; \
      bindings = <&kp F8>; \
      key-positions = <TLR TLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_Z { \
      timeout-ms = <200>; \
      bindings = <&kp Z>; \
      key-positions = <TRR TRM>; \
      layers = <0>; \
    }; \
    combo_ri_Z { \
      timeout-ms = <200>; \
      bindings = <&kp LS(Z)>; \
      key-positions = <TRR TRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_Z { \
      timeout-ms = <200>; \
      bindings = <&kp N8>; \
      key-positions = <TRR TRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_Z { \
      timeout-ms = <200>; \
      bindings = <&kp F8>; \
      key-positions = <TRR TRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_S { \
      timeout-ms = <200>; \
      bindings = <&kp S>; \
      key-positions = <BLP BLM>; \
      layers = <0>; \
    }; \
    combo_li_S { \
      timeout-ms = <200>; \
      bindings = <&kp LS(S)>; \
      key-positions = <BLP BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_S { \
      timeout-ms = <200>; \
      bindings = <&kp N9>; \
      key-positions = <BLP BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_S { \
      timeout-ms = <200>; \
      bindings = <&kp F9>; \
      key-positions = <BLP BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_S { \
      timeout-ms = <200>; \
      bindings = <&kp S>; \
      key-positions = <BRP BRM>; \
      layers = <0>; \
    }; \
    combo_ri_S { \
      timeout-ms = <200>; \
      bindings = <&kp LS(S)>; \
      key-positions = <BRP BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_S { \
      timeout-ms = <200>; \
      bindings = <&kp N9>; \
      key-positions = <BRP BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_S { \
      timeout-ms = <200>; \
      bindings = <&kp F9>; \
      key-positions = <BRP BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_M { \
      timeout-ms = <200>; \
      bindings = <&kp M>; \
      key-positions = <BLR BLI>; \
      layers = <0>; \
    }; \
    combo_li_M { \
      timeout-ms = <200>; \
      bindings = <&kp LS(M)>; \
      key-positions = <BLR BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_M { \
      timeout-ms = <200>; \
      bindings = <&kp N0>; \
      key-positions = <BLR BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_M { \
      timeout-ms = <200>; \
      bindings = <&kp F10>; \
      key-positions = <BLR BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_M { \
      timeout-ms = <200>; \
      bindings = <&kp M>; \
      key-positions = <BRR BRI>; \
      layers = <0>; \
    }; \
    combo_ri_M { \
      timeout-ms = <200>; \
      bindings = <&kp LS(M)>; \
      key-positions = <BRR BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_M { \
      timeout-ms = <200>; \
      bindings = <&kp N0>; \
      key-positions = <BRR BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_M { \
      timeout-ms = <200>; \
      bindings = <&kp F10>; \
      key-positions = <BRR BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_U { \
      timeout-ms = <200>; \
      bindings = <&kp U>; \
      key-positions = <TLP TLM>; \
      layers = <0>; \
    }; \
    combo_li_U { \
      timeout-ms = <200>; \
      bindings = <&kp LS(U)>; \
      key-positions = <TLP TLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_U { \
      timeout-ms = <200>; \
      bindings = <&kp EXCL>; \
      key-positions = <TLP TLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_U { \
      timeout-ms = <200>; \
      bindings = <&kp F11>; \
      key-positions = <TLP TLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_U { \
      timeout-ms = <200>; \
      bindings = <&kp U>; \
      key-positions = <TRP TRM>; \
      layers = <0>; \
    }; \
    combo_ri_U { \
      timeout-ms = <200>; \
      bindings = <&kp LS(U)>; \
      key-positions = <TRP TRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_U { \
      timeout-ms = <200>; \
      bindings = <&kp EXCL>; \
      key-positions = <TRP TRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_U { \
      timeout-ms = <200>; \
      bindings = <&kp F11>; \
      key-positions = <TRP TRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_P { \
      timeout-ms = <200>; \
      bindings = <&kp P>; \
      key-positions = <TLR TLI>; \
      layers = <0>; \
    }; \
    combo_li_P { \
      timeout-ms = <200>; \
      bindings = <&kp LS(P)>; \
      key-positions = <TLR TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_P { \
      timeout-ms = <200>; \
      bindings = <&kp AT>; \
      key-positions = <TLR TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_P { \
      timeout-ms = <200>; \
      bindings = <&kp F12>; \
      key-positions = <TLR TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_P { \
      timeout-ms = <200>; \
      bindings = <&kp P>; \
      key-positions = <TRR TRI>; \
      layers = <0>; \
    }; \
    combo_ri_P { \
      timeout-ms = <200>; \
      bindings = <&kp LS(P)>; \
      key-positions = <TRR TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_P { \
      timeout-ms = <200>; \
      bindings = <&kp AT>; \
      key-positions = <TRR TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_P { \
      timeout-ms = <200>; \
      bindings = <&kp F12>; \
      key-positions = <TRR TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_COMMA { \
      timeout-ms = <200>; \
      bindings = <&kp COMMA>; \
      key-positions = <TLP BLI>; \
      layers = <0>; \
    }; \
    combo_li_COMMA { \
      timeout-ms = <200>; \
      bindings = <&kp LS(COMMA)>; \
      key-positions = <TLP BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_COMMA { \
      timeout-ms = <200>; \
      bindings = <&kp HASH>; \
      key-positions = <TLP BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_COMMA { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLP BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_COMMA { \
      timeout-ms = <200>; \
      bindings = <&kp COMMA>; \
      key-positions = <TRP BRI>; \
      layers = <0>; \
    }; \
    combo_ri_COMMA { \
      timeout-ms = <200>; \
      bindings = <&kp LS(COMMA)>; \
      key-positions = <TRP BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_COMMA { \
      timeout-ms = <200>; \
      bindings = <&kp HASH>; \
      key-positions = <TRP BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_COMMA { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRP BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_X { \
      timeout-ms = <200>; \
      bindings = <&kp X>; \
      key-positions = <BLP TLI>; \
      layers = <0>; \
    }; \
    combo_li_X { \
      timeout-ms = <200>; \
      bindings = <&kp LS(X)>; \
      key-positions = <BLP TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_X { \
      timeout-ms = <200>; \
      bindings = <&kp DLLR>; \
      key-positions = <BLP TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_X { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BLP TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_X { \
      timeout-ms = <200>; \
      bindings = <&kp X>; \
      key-positions = <BRP TRI>; \
      layers = <0>; \
    }; \
    combo_ri_X { \
      timeout-ms = <200>; \
      bindings = <&kp LS(X)>; \
      key-positions = <BRP TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_X { \
      timeout-ms = <200>; \
      bindings = <&kp DLLR>; \
      key-positions = <BRP TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_X { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BRP TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_Q { \
      timeout-ms = <200>; \
      bindings = <&kp Q>; \
      key-positions = <TLP BLM>; \
      layers = <0>; \
    }; \
    combo_li_Q { \
      timeout-ms = <200>; \
      bindings = <&kp LS(Q)>; \
      key-positions = <TLP BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_Q { \
      timeout-ms = <200>; \
      bindings = <&kp PRCNT>; \
      key-positions = <TLP BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_Q { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLP BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_Q { \
      timeout-ms = <200>; \
      bindings = <&kp Q>; \
      key-positions = <TRP BRM>; \
      layers = <0>; \
    }; \
    combo_ri_Q { \
      timeout-ms = <200>; \
      bindings = <&kp LS(Q)>; \
      key-positions = <TRP BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_Q { \
      timeout-ms = <200>; \
      bindings = <&kp PRCNT>; \
      key-positions = <TRP BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_Q { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRP BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_LBKT { \
      timeout-ms = <200>; \
      bindings = <&kp LBKT>; \
      key-positions = <BLR TLI>; \
      layers = <0>; \
    }; \
    combo_li_LBKT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(LBKT)>; \
      key-positions = <BLR TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_LBKT { \
      timeout-ms = <200>; \
      bindings = <&kp CARET>; \
      key-positions = <BLR TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_LBKT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BLR TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_LBKT { \
      timeout-ms = <200>; \
      bindings = <&kp LBKT>; \
      key-positions = <BRR TRI>; \
      layers = <0>; \
    }; \
    combo_ri_LBKT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(LBKT)>; \
      key-positions = <BRR TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_LBKT { \
      timeout-ms = <200>; \
      bindings = <&kp CARET>; \
      key-positions = <BRR TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_LBKT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BRR TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_SEMI { \
      timeout-ms = <200>; \
      bindings = <&kp SEMI>; \
      key-positions = <BLP TLM>; \
      layers = <0>; \
    }; \
    combo_li_SEMI { \
      timeout-ms = <200>; \
      bindings = <&kp LS(SEMI)>; \
      key-positions = <BLP TLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_SEMI { \
      timeout-ms = <200>; \
      bindings = <&kp AMPS>; \
      key-positions = <BLP TLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_SEMI { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BLP TLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_SEMI { \
      timeout-ms = <200>; \
      bindings = <&kp SEMI>; \
      key-positions = <BRP TRM>; \
      layers = <0>; \
    }; \
    combo_ri_SEMI { \
      timeout-ms = <200>; \
      bindings = <&kp LS(SEMI)>; \
      key-positions = <BRP TRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_SEMI { \
      timeout-ms = <200>; \
      bindings = <&kp AMPS>; \
      key-positions = <BRP TRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_SEMI { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BRP TRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_I { \
      timeout-ms = <200>; \
      bindings = <&kp I>; \
      key-positions = <TLR BLI>; \
      layers = <0>; \
    }; \
    combo_li_I { \
      timeout-ms = <200>; \
      bindings = <&kp LS(I)>; \
      key-positions = <TLR BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_I { \
      timeout-ms = <200>; \
      bindings = <&kp STAR>; \
      key-positions = <TLR BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_I { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLR BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_I { \
      timeout-ms = <200>; \
      bindings = <&kp I>; \
      key-positions = <TRR BRI>; \
      layers = <0>; \
    }; \
    combo_ri_I { \
      timeout-ms = <200>; \
      bindings = <&kp LS(I)>; \
      key-positions = <TRR BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_I { \
      timeout-ms = <200>; \
      bindings = <&kp STAR>; \
      key-positions = <TRR BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_I { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRR BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_DOT { \
      timeout-ms = <200>; \
      bindings = <&kp DOT>; \
      key-positions = <TLP BLR>; \
      layers = <0>; \
    }; \
    combo_li_DOT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(DOT)>; \
      key-positions = <TLP BLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_DOT { \
      timeout-ms = <200>; \
      bindings = <&kp LPAR>; \
      key-positions = <TLP BLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_DOT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLP BLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_DOT { \
      timeout-ms = <200>; \
      bindings = <&kp DOT>; \
      key-positions = <TRP BRR>; \
      layers = <0>; \
    }; \
    combo_ri_DOT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(DOT)>; \
      key-positions = <TRP BRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_DOT { \
      timeout-ms = <200>; \
      bindings = <&kp LPAR>; \
      key-positions = <TRP BRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_DOT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRP BRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_W { \
      timeout-ms = <200>; \
      bindings = <&kp W>; \
      key-positions = <TLI BLM>; \
      layers = <0>; \
    }; \
    combo_li_W { \
      timeout-ms = <200>; \
      bindings = <&kp LS(W)>; \
      key-positions = <TLI BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_W { \
      timeout-ms = <200>; \
      bindings = <&kp RPAR>; \
      key-positions = <TLI BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_W { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLI BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_W { \
      timeout-ms = <200>; \
      bindings = <&kp W>; \
      key-positions = <TRI BRM>; \
      layers = <0>; \
    }; \
    combo_ri_W { \
      timeout-ms = <200>; \
      bindings = <&kp LS(W)>; \
      key-positions = <TRI BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_W { \
      timeout-ms = <200>; \
      bindings = <&kp RPAR>; \
      key-positions = <TRI BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_W { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRI BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_O { \
      timeout-ms = <200>; \
      bindings = <&kp O>; \
      key-positions = <TLR BLM>; \
      layers = <0>; \
    }; \
    combo_li_O { \
      timeout-ms = <200>; \
      bindings = <&kp LS(O)>; \
      key-positions = <TLR BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_O { \
      timeout-ms = <200>; \
      bindings = <&kp SLASH>; \
      key-positions = <TLR BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_O { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLR BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_O { \
      timeout-ms = <200>; \
      bindings = <&kp O>; \
      key-positions = <TRR BRM>; \
      layers = <0>; \
    }; \
    combo_ri_O { \
      timeout-ms = <200>; \
      bindings = <&kp LS(O)>; \
      key-positions = <TRR BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_O { \
      timeout-ms = <200>; \
      bindings = <&kp SLASH>; \
      key-positions = <TRR BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_O { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRR BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_SQT { \
      timeout-ms = <200>; \
      bindings = <&kp SQT>; \
      key-positions = <TLM BLR>; \
      layers = <0>; \
    }; \
    combo_li_SQT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(SQT)>; \
      key-positions = <TLM BLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_SQT { \
      timeout-ms = <200>; \
      bindings = <&kp QMARK>; \
      key-positions = <TLM BLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_SQT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLM BLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_SQT { \
      timeout-ms = <200>; \
      bindings = <&kp SQT>; \
      key-positions = <TRM BRR>; \
      layers = <0>; \
    }; \
    combo_ri_SQT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(SQT)>; \
      key-positions = <TRM BRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_SQT { \
      timeout-ms = <200>; \
      bindings = <&kp QMARK>; \
      key-positions = <TRM BRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_SQT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRM BRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_A { \
      timeout-ms = <200>; \
      bindings = <&kp A>; \
      key-positions = <TLM BLI>; \
      layers = <0>; \
    }; \
    combo_li_A { \
      timeout-ms = <200>; \
      bindings = <&kp LS(A)>; \
      key-positions = <TLM BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_A { \
      timeout-ms = <200>; \
      bindings = <&kp MINUS>; \
      key-positions = <TLM BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_A { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLM BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_A { \
      timeout-ms = <200>; \
      bindings = <&kp A>; \
      key-positions = <TRM BRI>; \
      layers = <0>; \
    }; \
    combo_ri_A { \
      timeout-ms = <200>; \
      bindings = <&kp LS(A)>; \
      key-positions = <TRM BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_A { \
      timeout-ms = <200>; \
      bindings = <&kp MINUS>; \
      key-positions = <TRM BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_A { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRM BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_RBKT { \
      timeout-ms = <200>; \
      bindings = <&kp RBKT>; \
      key-positions = <TLR BLP>; \
      layers = <0>; \
    }; \
    combo_li_RBKT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(RBKT)>; \
      key-positions = <TLR BLP LIT>; \
      layers = <0>; \
    }; \
    combo_lo_RBKT { \
      timeout-ms = <200>; \
      bindings = <&kp UNDER>; \
      key-positions = <TLR BLP LOT>; \
      layers = <0>; \
    }; \
    combo_lb_RBKT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLR BLP LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_RBKT { \
      timeout-ms = <200>; \
      bindings = <&kp RBKT>; \
      key-positions = <TRR BRP>; \
      layers = <0>; \
    }; \
    combo_ri_RBKT { \
      timeout-ms = <200>; \
      bindings = <&kp LS(RBKT)>; \
      key-positions = <TRR BRP RIT>; \
      layers = <0>; \
    }; \
    combo_ro_RBKT { \
      timeout-ms = <200>; \
      bindings = <&kp UNDER>; \
      key-positions = <TRR BRP ROT>; \
      layers = <0>; \
    }; \
    combo_rb_RBKT { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRR BRP RIT ROT>; \
      layers = <0>; \
    };

    combo_l_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&kp GRAVE>; \
      key-positions = <TLR TLM TLI>; \
      layers = <0>; \
    }; \
    combo_li_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&kp LS(GRAVE)>; \
      key-positions = <TLR TLM TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&kp EQUAL>; \
      key-positions = <TLR TLM TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLR TLM TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&kp GRAVE>; \
      key-positions = <TRR TRM TRI>; \
      layers = <0>; \
    }; \
    combo_ri_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&kp LS(GRAVE)>; \
      key-positions = <TRR TRM TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&kp EQUAL>; \
      key-positions = <TRR TRM TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_GRAVE { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRR TRM TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_NUBS { \
      timeout-ms = <200>; \
      bindings = <&kp NUBS>; \
      key-positions = <BLR BLM BLI>; \
      layers = <0>; \
    }; \
    combo_li_NUBS { \
      timeout-ms = <200>; \
      bindings = <&kp LS(NUBS)>; \
      key-positions = <BLR BLM BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_NUBS { \
      timeout-ms = <200>; \
      bindings = <&kp PLUS>; \
      key-positions = <BLR BLM BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_NUBS { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BLR BLM BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_NUBS { \
      timeout-ms = <200>; \
      bindings = <&kp NUBS>; \
      key-positions = <BRR BRM BRI>; \
      layers = <0>; \
    }; \
    combo_ri_NUBS { \
      timeout-ms = <200>; \
      bindings = <&kp LS(NUBS)>; \
      key-positions = <BRR BRM BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_NUBS { \
      timeout-ms = <200>; \
      bindings = <&kp PLUS>; \
      key-positions = <BRR BRM BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_NUBS { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <BRR BRM BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_DEL { \
      timeout-ms = <200>; \
      bindings = <&kp DEL>; \
      key-positions = <TLR BLR>; \
      layers = <0>; \
    }; \
    combo_li_DEL { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLR BLR LIT>; \
      layers = <0>; \
    }; \
    combo_lo_DEL { \
      timeout-ms = <200>; \
      bindings = <&kp LC(DEL)>; \
      key-positions = <TLR BLR LOT>; \
      layers = <0>; \
    }; \
    combo_lb_DEL { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLR BLR LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_DEL { \
      timeout-ms = <200>; \
      bindings = <&kp DEL>; \
      key-positions = <TRR BRR>; \
      layers = <0>; \
    }; \
    combo_ri_DEL { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRR BRR RIT>; \
      layers = <0>; \
    }; \
    combo_ro_DEL { \
      timeout-ms = <200>; \
      bindings = <&kp LC(DEL)>; \
      key-positions = <TRR BRR ROT>; \
      layers = <0>; \
    }; \
    combo_rb_DEL { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRR BRR RIT ROT>; \
      layers = <0>; \
    };

    combo_l_ESC { \
      timeout-ms = <200>; \
      bindings = <&kp ESC>; \
      key-positions = <TLM BLM>; \
      layers = <0>; \
    }; \
    combo_li_ESC { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLM BLM LIT>; \
      layers = <0>; \
    }; \
    combo_lo_ESC { \
      timeout-ms = <200>; \
      bindings = <&kp N1>; \
      key-positions = <TLM BLM LOT>; \
      layers = <0>; \
    }; \
    combo_lb_ESC { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLM BLM LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_ESC { \
      timeout-ms = <200>; \
      bindings = <&kp ESC>; \
      key-positions = <TRM BRM>; \
      layers = <0>; \
    }; \
    combo_ri_ESC { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRM BRM RIT>; \
      layers = <0>; \
    }; \
    combo_ro_ESC { \
      timeout-ms = <200>; \
      bindings = <&kp N1>; \
      key-positions = <TRM BRM ROT>; \
      layers = <0>; \
    }; \
    combo_rb_ESC { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRM BRM RIT ROT>; \
      layers = <0>; \
    };

    combo_l_TAB { \
      timeout-ms = <200>; \
      bindings = <&kp TAB>; \
      key-positions = <TLP BLP>; \
      layers = <0>; \
    }; \
    combo_li_TAB { \
      timeout-ms = <200>; \
      bindings = <&kp LA(TAB)>; \
      key-positions = <TLP BLP LIT>; \
      layers = <0>; \
    }; \
    combo_lo_TAB { \
      timeout-ms = <200>; \
      bindings = <&kp LC(TAB)>; \
      key-positions = <TLP BLP LOT>; \
      layers = <0>; \
    }; \
    combo_lb_TAB { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLP BLP LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_TAB { \
      timeout-ms = <200>; \
      bindings = <&kp TAB>; \
      key-positions = <TRP BRP>; \
      layers = <0>; \
    }; \
    combo_ri_TAB { \
      timeout-ms = <200>; \
      bindings = <&kp LA(TAB)>; \
      key-positions = <TRP BRP RIT>; \
      layers = <0>; \
    }; \
    combo_ro_TAB { \
      timeout-ms = <200>; \
      bindings = <&kp LC(TAB)>; \
      key-positions = <TRP BRP ROT>; \
      layers = <0>; \
    }; \
    combo_rb_TAB { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRP BRP RIT ROT>; \
      layers = <0>; \
    };

    combo_l_ENTER { \
      timeout-ms = <200>; \
      bindings = <&kp ENTER>; \
      key-positions = <TLI BLI>; \
      layers = <0>; \
    }; \
    combo_li_ENTER { \
      timeout-ms = <200>; \
      bindings = <&kp LS(ENTER)>; \
      key-positions = <TLI BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_ENTER { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLI BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_ENTER { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLI BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_ENTER { \
      timeout-ms = <200>; \
      bindings = <&kp ENTER>; \
      key-positions = <TRI BRI>; \
      layers = <0>; \
    }; \
    combo_ri_ENTER { \
      timeout-ms = <200>; \
      bindings = <&kp LS(ENTER)>; \
      key-positions = <TRI BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_ENTER { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRI BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_ENTER { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRI BRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_boot { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLP TLR TLM TLI>; \
      layers = <0>; \
    }; \
    combo_li_boot { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TLP TLR TLM TLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_boot { \
      timeout-ms = <200>; \
      bindings = <&ext_power EP_OFF>; \
      key-positions = <TLP TLR TLM TLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_boot { \
      timeout-ms = <200>; \
      bindings = <&bootloader>; \
      key-positions = <TLP TLR TLM TLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_boot { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRP TRR TRM TRI>; \
      layers = <0>; \
    }; \
    combo_ri_boot { \
      timeout-ms = <200>; \
      bindings = <&none>; \
      key-positions = <TRP TRR TRM TRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_boot { \
      timeout-ms = <200>; \
      bindings = <&ext_power EP_OFF>; \
      key-positions = <TRP TRR TRM TRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_boot { \
      timeout-ms = <200>; \
      bindings = <&bootloader>; \
      key-positions = <TRP TRR TRM TRI RIT ROT>; \
      layers = <0>; \
    };

    combo_l_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_SEL 0>; \
      key-positions = <BLP BLR BLM BLI>; \
      layers = <0>; \
    }; \
    combo_li_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_SEL 1>; \
      key-positions = <BLP BLR BLM BLI LIT>; \
      layers = <0>; \
    }; \
    combo_lo_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_SEL 2>; \
      key-positions = <BLP BLR BLM BLI LOT>; \
      layers = <0>; \
    }; \
    combo_lb_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_CLR>; \
      key-positions = <BLP BLR BLM BLI LIT LOT>; \
      layers = <0>; \
    }; \
    combo_r_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_SEL 0>; \
      key-positions = <BRP BRR BRM BRI>; \
      layers = <0>; \
    }; \
    combo_ri_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_SEL 1>; \
      key-positions = <BRP BRR BRM BRI RIT>; \
      layers = <0>; \
    }; \
    combo_ro_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_SEL 2>; \
      key-positions = <BRP BRR BRM BRI ROT>; \
      layers = <0>; \
    }; \
    combo_rb_BT { \
      timeout-ms = <200>; \
      bindings = <&bt BT_CLR>; \
      key-positions = <BRP BRR BRM BRI RIT ROT>; \
      layers = <0>; \
    };


  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      bindings = <
        &none &none &none &none               &none &none &none &none
        &none &none &none &none               &none &none &none &none
                          &none &none   &none &none
      >;
    };
  };
};
