/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// CONFIG

#define COMBO_TIMEOUT 70
#define COMBO_LAYERS 0
#define STICKY_TIMEOUT 500

// LEFT SIDE

#define TLP 0 // TOP
#define TLR 1 // TOP
#define TLM 2 // TOP
#define TLI 3 // TOP
#define BLP 8 // BOTTOM
#define BLR 9 // BOTTOM
#define BLM 10 // BOTTOM
#define BLI 11 // BOTTOM
#define LOT 16 // O-THUMB
#define LIT 17 // I-THUMB

// RIGHT SIDE

#define TRP 7 // TOP
#define TRR 6 // TOP
#define TRM 5 // TOP
#define TRI 4 // TOP
#define BRP 15 // BOTTOM
#define BRR 14 // BOTTOM
#define BRM 13 // BOTTOM
#define BRI 12 // BOTTOM
#define ROT 19 // O-THUMB
#define RIT 18 // I-THUMB

&sk {
    release-after-ms = <STICKY_TIMEOUT>;
    quick-release;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        blue {
            bindings = <
&kp B  &kp F  &kp T  &kp J                           &kp J     &kp T  &kp F  &kp B
&kp H  &kp C  &kp N  &kp Y                           &kp Y     &kp N  &kp C  &kp H
                     &kp BSPC  &kp SPACE  &kp SPACE  &kp BSPC
            >;
        };

        orange {
            bindings = <
&kp LEFT  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW                  &kp LEFT_ARROW  &kp UP     &kp DOWN  &kp RIGHT
&kp LGUI  &kp LALT      &kp LCTRL       &kp LSHFT                        &kp LSHFT       &kp LCTRL  &kp LALT  &kp LGUI
                                        &trans           &trans  &trans  &trans
            >;
        };

        advanced {
            bindings = <
&kp LS(LEFT)  &kp LS(UP)   &kp LS(DOWN)  &kp LS(RIGHT)                  &kp LS(LEFT)  &kp LS(UP)  &kp LS(DOWN)  &kp LS(RIGHT)
&kp HOME      &kp PAGE_UP  &kp PG_DN     &kp END                        &kp HOME      &kp PG_UP   &kp PG_DN     &kp END
                                         &trans         &trans  &trans  &trans
            >;
        };
    };
};
